<h1 id="tableLabel">
  Employees List
  <span class="badge" *ngIf="employees">{{'Total ' + employees.length}}</span>

  <span class="badge">{{currentFilterApplied}}</span>
</h1>

<p *ngIf="!employees"><em>Loading...</em></p>

<button mat-raised-button color="primary" (click)="filterList('filterGrade')" aria-label="Filter per Grade" [disabled]="currentFilter=='filterGrade' || currentEmployee==null">
  <mat-icon>filter_list</mat-icon>
  By Grade
</button>

<button mat-raised-button color="primary" (click)="filterList('filterOfficeGrade')" aria-label="Filter per Grade" [disabled]="currentFilter=='filterOfficeGrade' || currentEmployee==null">
  <mat-icon>filter_list</mat-icon>
  By Office And Grade
</button>

<button mat-raised-button color="primary" (click)="filterList('filterPositionGrade')" aria-label="Filter per Grade" [disabled]="currentFilter=='filterPositionGrade' || currentEmployee==null">
  <mat-icon>filter_list</mat-icon>
  By Position And Grade
</button>

<button mat-raised-button color="primary" (click)="filterList('refresh')">
  <mat-icon>refresh</mat-icon>
</button>
<br />


<!--public displayedColumns = ['fullname', 'grade', 'division','position','begindate','birthDate','identificationNumber','totalSalary'];-->
<div class="example-container mat-elevation-z8">
  <div class="row" *ngIf="employees.length==0">
    <div class="col-md-12">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" style="width:100%">
    <!-- Year -->

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>
        <button class="grid_button" mat-raised-button style="background-color:transparent;" (click)="gotoEdit('0')">
          <mat-icon>add_circle_outline</mat-icon>
          Add
        </button>
      </th>
      <td mat-cell *matCellDef="let employee">
        <button class="grid_button" mat-icon-button style="background-color:transparent;" (click)="gotoEdit(employee.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="employeeCode">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let employee"> {{employee.employeeCode}} </td>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.employeeName}} {{employee.employeeSurname}} </td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Grade </th>
      <td mat-cell *matCellDef="let employee"> {{employee.grade }} </td>
    </ng-container>

    <ng-container matColumnDef="divisionName">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let employee"> {{employee.divisionName }} </td>
    </ng-container>

    <ng-container matColumnDef="positionName">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let employee"> {{employee.positionName }} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef> Begin Date </th>
      <td mat-cell *matCellDef="let employee"> {{employee.birthday }} </td>
    </ng-container>

    <ng-container matColumnDef="birthDay">
      <th mat-header-cell *matHeaderCellDef> Birthday </th>
      <td mat-cell *matCellDef="let employee"> {{employee.birthDay | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="identificationNumber">
      <th mat-header-cell *matHeaderCellDef> Identification Number </th>
      <td mat-cell *matCellDef="let employee"> {{employee.identificationNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="totalSalary">
      <th mat-header-cell *matHeaderCellDef> Total Salary </th>
      <td mat-cell *matCellDef="let employee"> {{employee.totalSalary | number: '1.2-2' }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectEmployee($event,row)" [class.highlighted]="row===currentEmployee"></tr>
  </table>

  <mat-paginator [length]="totalRecords" [pageSize]="8" (page)="pageEvent()"></mat-paginator>
  {{totalRecords}}
</div>
