
<div class="card">
  <div class="card-header">{{formTitle}}</div>
  
  <div class="card-body">
    <form [formGroup]="formGroup" class="form-group" >
      <div class="row">
        <div class="col-md-3">
          <label for="employeeName">Name</label>
          <input name="employeeName" class="form-control"
                 formControlName="employeeName" id="employeeName"
                 type="text" />
        </div>
        <div class="col-md-3">
          <label for="employeeSurname">Surname</label>
          <input name="employeeSurname" class="form-control"
                 formControlName="employeeSurname"
                 type="text" />
        </div>
        <div class="col-md-3">
          <label for="employeeCode">Employee Code</label>
          <input name="employeeCode" class="form-control"
                 formControlName="employeeCode"
                 type="text" maxlength="10" />
        </div>
        <div class="col-md-3">
          <label for="identificationNumber">Identification Number</label>
          <input name="identificationNumber" class="form-control"
                 formControlName="identificationNumber"
                 type="text" maxlength="10" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="grade">Grade</label>
          <input name="grade" class="form-control"
                 formControlName="grade"
                 type="number" min="1" />
        </div>
        <div class="col-md-3">
          <label for="identificationNumber">Birthdate</label>
          <input name="birthday" class="form-control"
                 formControlName="birthday"
                 type="date" />
        </div>
        <div class="col-md-3">
          <label for="officeId">Office</label>
          <select formControlName="officeId" name="officeId">
            <option [ngValue]="null" disabled>Choose your Office</option>
            <option *ngFor="let off of offices" [ngValue]="off.id">
              {{ off.name }}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="divisionId">Division</label>
          <select formControlName="divisionId" name="divisionId">
            <option [ngValue]="null" disabled>Choose your Division</option>
            <option *ngFor="let div of divisions" [ngValue]="div.id">
              {{ div.name }}
            </option>
          </select>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="positionId">Position</label>
          <select formControlName="positionId" name="positionId">
            <option [ngValue]="null" disabled>Choose your Position</option>
            <option *ngFor="let pos of positions" [ngValue]="pos.id">
              {{ pos.name }}
            </option>
          </select>
        </div>
      </div>
    </form>
    <button mat-raised-button (click)="save()" class="btn-primary" [disabled]="!formGroup.valid">
      Save
    </button>    
  </div>
  <div class="card-footer">    
    <div class="row">
      <div class="col-md-12">
        <table class='table table-striped table-hover mytable' aria-labelledby="tableLabel" *ngIf="employeeData">
          <thead>
            <tr>
              <th>
                Options
                <button class="grid_button" mat-raised-button style="background-color:transparent;" (click)="openForm()">
                  <mat-icon>add_circle_outline</mat-icon>
                  Add
                </button>
              </th>
              <th>Year</th>
              <th>Month</th>
              <th>Base Salary</th>
              <th>Production Bonus</th>
              <th>Compesation Bonus</th>
              <th>Comission</th>
              <th>Contributions</th>
              <th>Other Income</th>
              <th>Total Salary</th>
            </tr>
          </thead>
          <tbody>

            <span class="badge" *ngIf='employeeData.salaries?.length === 0'>NO DATA TO DISPLAY</span>
            <tr *ngFor="let salary of employeeData.salaries" [class.color]='salary.modified == true'>
              <td>
                <button class="grid_button" mat-icon-button style="background-color:transparent;" (click)="openForm(salary)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
              <td>{{ salary.year }}</td>
              <td>{{ salary.month }}</td>
              <td>{{ salary.baseSalary | number: '1.2-2'}}</td>
              <td>{{ salary.productionBonus | number: '1.2-2' }}</td>
              <td>{{ salary.compesationBonus | number: '1.2-2'}}</td>
              <td>{{ salary.comission | number: '1.2-2' }}</td>
              <td>{{ salary.contributions | number: '1.2-2'}}</td>
              <td>{{ salary.otherIncome | number: '1.2-2' }}</td>
              <td>{{ salary.totalSalary | number: '1.2-2'  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

