.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

/*
.ng-invalid .nd-dirty :not(form) {
  border: 5px solid #a94442; 
}
*/

input.ng-dirty.ng-invalid {
  color: red;
  background-color:lightpink;
}


.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}

.mytable thead th {
  text-align: center;
  vertical-align: text-top;
  height: 65px;
  background-color: lightgray;  
  top: 0;
}

.mytable {
  overflow: auto;
  height: 400px;
}

.color {  
  font-weight: bold;
  background-color: lightgreen!important;
  color: green;
}
