<h1><a href="https://github.com/rmlarios">MIGUEL LARIOS</a></h1>
<p>Welcome to Angular Application for Employees:</p>
<ul>
  <li><strong>Employee List</strong> here we can visualize all Employees in BD and filter by some parameters</li>
  <li><strong>Employee Edit Form</strong> here we edit or add new Employee Record and edit his Salaries Records</li>
  <li><strong>Employee Search</strong> here we can search an Employee by his Code and get the last 3 or less consecutive salaries y Bonus Ammount</li>
  
</ul>
<p>I used:</p>
<ul>
  <li><strong>Navigation Routes</strong>
  <li><strong>Reactive Forms</strong>
  <li><strong>Angular Material</strong>
  <li><strong>HttpClient for Rest</strong>
  <li><strong>HTML, CSS, etc.</strong>
  
</ul>
<p>The <code>Application Code</code> can be watched at <a href="https://bitbucket.org/rmlarios/" target="_blank">this Repository</a></p>
