
<div class="card">
  <div class="card-header">{{formTitle}}</div>
  <div class="card-body">
    <form [formGroup]="salaryForm" class="form-group" (ngSubmit)="onsubmit()">
      <mat-dialog-content class="mat-typography">
        <div class="row">
          <div class="col-md-4">
            <label for="baseSalary">Base Salary</label>
            <input name="baseSalary" class="form-control"
                   formControlName="baseSalary" id="baseSalary"
                   type="number" value="salaryForm.get('baseSalary').value | number: '1.2-2'" />
          </div>
          <div class="col-md-4">
            <label for="startDate">Begin Date</label>
            <input name="startDate" class="form-control"
                   formControlName="startDate" (blur)="compareTwoDates()"
                   type="date"  />
          </div>
          <div class="col-md-4">
            <label for="yearmonth">Month and Year</label>
            <input name="yearmonth" class="form-control"
                   formControlName="yearmonth" (blur)="compareTwoDates()"
                   type="month" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="productionBonus">Production Bonus</label>
            <input name="productionBonus" class="form-control"
                   formControlName="productionBonus" id="productionBonus"
                   type="number" min="0" />
          </div>
          <div class="col-md-4">
            <label for="compesationBonus">Compesation Bonus</label>
            <input name="compesationBonus" class="form-control"
                   formControlName="compesationBonus"
                   type="number" min="0" required />
          </div>
          <div class="col-md-4">
            <label for="comission">Comission</label>
            <input name="comission" class="form-control"
                   formControlName="comission"
                   type="number" min="0" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="contributions">contributions</label>
            <input name="contributions" class="form-control"
                   formControlName="contributions" id="contributions"
                   type="number" min="0" />
          </div>
          <div class="col-md-4">
            {{ salaryForm.errors }}
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!salaryForm.dirty || !salaryForm.valid || !hasChange">Save</button>
      </mat-dialog-actions>     
    </form>

    
  </div>
 
</div>
