<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <form class="form-group" [formGroup]="form">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
              <label for="searhCode">Enter the Employee Code to search:</label>
              <input name="searhCode" class="form-control text-center" formControlName="searhCode"
                     id="searhCode" required
                     type="text" />
            </div>
            <div class="col-md-3"></div>
          </div>
          </form>
          <div class="row" style="padding-top:10px;">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
              <button mat-raised-button id="searchButton" (click)="search()" [disabled]="!form.valid">
                <mat-icon>search</mat-icon>
                Search
              </button> 
            </div>
            <div class="col-md-3"></div>
          </div>
        

      </div>
      
      <div class="card-body" *ngIf="employeeData">
        <div class="example-container mat-elevation-z8" *ngIf="employeeData && employeeData.salaries">
          <table mat-table [dataSource]="employeeData.salaries" style="width:100%">
            <!-- Year -->
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef> Year </th>
              <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>

            <!-- Month -->
            <ng-container matColumnDef="month">
              <th mat-header-cell *matHeaderCellDef> Month </th>
              <td mat-cell *matCellDef="let element"> {{element.month}} </td>
            </ng-container>

            <!-- Total Salary -->
            <ng-container matColumnDef="totalSalary">
              <th mat-header-cell *matHeaderCellDef> Total Salary </th>
              <td mat-cell *matCellDef="let element"> {{element.totalSalary | number: '1.2-2'}} </td>
            </ng-container>
          

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <h3 class="text-center" *ngIf="!employeeData.salaries">No Data To Display</h3>



      </div>
      <div class="card-footer text-center">
        <h1 *ngIf="employeeData.salaries">Bonus Ammount:{{employeeData.bonus | number: '1.2-2'}}</h1>
        
      </div>
    </div>


  </div>
  <div class="col-md-1"></div>

</div>
